*.code-workspace
node_modules
.devcontainer
local_scripts
.DS_Store
yarn.lock
.serverless
.webpack/
coverage/
output/
out
tests/log
log/
**/output.eslint.json
platform/eventbus-ccc/**/__pycache__
platform/eventbus-ccc/deploy_package
**/.vscode
**/cypress.env.json
**/yarn-error.log
.angular
.esbuild/
.vscode/
**/shared.json
package-lock.json
*.bak
platform/certificates-tttx-service/.build

platform/**/venv/
.env
.env.*
__snapshots__
**/dist
env
tokens.json
*.pyc
*.log
data